<div>
  <p>Comments (<%= @post.comments.length %>):</p>

  <% @post.comments.each do |comment| %>
    <blockquote>
      <p><%= comment.body %></p>
      <small><%= comment.commenter %>
      <%= link_to 'remove', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
      </small>
    </blockquote>
  <% end %>

</div>