<script>
  $(document).ready(function(){
    defaultLocation();
  });

  function defaultLocation() {
    fillAjaxHolder('/role_permissions?role_id=<%= @role.id %>');
  }
</script>

<div class="container">
  
  <%= render "nav", active: "roles" %>

  <div class="container">
    <div class="row">

      <div class="span2"></div>

      <div class="span8">
        <ul class="breadcrumb">
          <li class=""><%= link_to "< back to post listing", roles_path %></li>
        </ul>
      </div>

      <div class="span2"></div>
    </div>

    <div class="row">
      <div class="span2"></div>
      <div class="span8">
        <fieldset>
          <legend>Edit Role</legend>
          <%= render 'form' %>
        </fieldset>

        <h4>Permissions</h4>
        <div id="ajaxHolder"></div>

      </div>
      <div class="span2"></div>
    </div>
  </div>

</div>