<div class="container">
  
  <%= render "nav", active: "roles" %>

  <div class="container">
    <div class="row">
      <div class="span2"></div>
      <div class="span8">
        <ul class="breadcrumb"><li class=""><%= link_to "< back to role listing", roles_path %></li></ul>
      </div>
      <div class="span2"></div>
    </div>

    <div class="row">
      <div class="span2"></div>
      
      <div class="span8">
        <fieldset>
          <legend>Create Role</legend>
          <%= render 'form' %>
        </fieldset>
      </div>

      <div class="span2"></div>
    </div>
  </div>

</div>